<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rama.newsportal">

    <!-- Izin akses internet untuk ambil data dari API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="NewsApp"               <!-- Nama aplikasi -->
        android:icon="@mipmap/ic_launcher">   <!-- Ikon aplikasi -->

        <activity
            android:name="com.rama.newsportal.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Launcher utama aplikasi -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Gunakan Flutter embedding versi 2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
